.ProductCard {
    width: 90%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--highlight);
    color: var(--secondary);
    border: 3px outset var(--secondary);
    border-radius: 5px;
    padding: 1rem;
    text-align: left;
}

.ProductCard-title {
    text-align: center;
}

.ProductCard-links {
    text-align: center;
}

.ProductCard-link {
    display: block;
    transition: 250ms;
    width: fit-content;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 5px auto 5px auto;
    background-color: var(--secondary);
    border: 2px outset var(--secondary);
    border-radius: 5px;
    text-decoration: none;
    color: var(--highlight);
}

.ProductCard-link:hover {
    transition: 250ms;
    background-color: var(--primary);
    color: var(--highlight);
    color: var(--secondary);
}